@import "variables";

@tailwind preflight;

@import "front/navbar";


.btn-primary {
@apply .bg-black .text-white;
}

.btn-primary:hover {
@apply .bg-grey-dark .text-white;
}

.btn-danger {
@apply .bg-danger .text-white;
}

.btn-danger:hover {
@apply .bg-danger-dark .text-white;
}

.btn-cancel {
@apply .font-bold .text-grey-dark .underline;
}

.btn-cancel:hover {
@apply .text-grey-darker;
}

.h1 {
  @apply .font-sans .font-bold .text-5xl;
}



.h2 {
  @apply .font-sans .font-bold .text-2xl;
}

.blurb {
  @apply .font-sans .font-normal .text-3xl;
}

.button-font {
  @apply .font-sans .font-normal .text-base;
}

.body {
  @apply .font-serif .font-normal .text-base;
}

.body-lg {
  @apply .font-sans .font-normal .text-2xl;
}

.nav-font {
  @apply .font-sans .font-normal .text-sm;
}

.btn {
  @apply .h-12 px-8 rounded shadow;
}

@media screen and (max-width: 576px) {
  .h1 {
  @apply .text-4xl .leading-tight;
  }

  .h2 {
  @apply .text-xl;
  }

  .blurb {
  @apply .text-2xl;
  }

  .button-font {
  @apply .font-sans .font-normal .text-base;
  }

  .body {
  @apply .font-serif .font-normal .text-base;
  }

  .body-lg {
  @apply .text-xl;
  }
}

.order-0 {
    order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}


@tailwind utilities;

//svg {
//  fill: currentColor;
//}

[v-cloak] {
  display: none;
}



.main-navbar {
  transition: .3s;
}

.scrolled .main-navbar {
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);

  .nav-inner .active {
    color: #63bae5;
  }


}

.body-topper {
  height: 6rem;
}

@media screen and (max-width: 572px) {
  .body-topper {
    height: 4rem;
  }
}

img.blackened {
  filter: grayscale(1);
}

.member-card:hover .blackened {
  filter: grayscale(0);
}

@media screen and (max-width: 572px) {
  img.blackened {
    filter: grayscale(0);

    &:hover {
      filter: grayscale(0);
    }
  }
}

.gr-sky-blue {
  background: linear-gradient(90deg, #84d8f2, #bfe8ff);
}

.gr-purple-haze {
  background: linear-gradient(90deg, #aec8f5, #d6caf2);
}

.gr-blue {
  background: linear-gradient(90deg, #418FDE, #80D5FF);
}

.gr-blue-purple {
  background: linear-gradient(90deg, #418FDE, #958FF7);
}

.gr-blue-light {
  background: linear-gradient(90deg, #C8F0FA, #EBFCFF);
}